.loginForm {
    margin: 30px auto;
    width: 300px;
    border: 1px solid black;
    padding: 10px;
}

.loginForm label {
    display: inline-block;
    width: 80px;
    text-align: right;
    font: bold 14px "Arial", sans-serif;
    margin: 0 5px;
}

.loginForm input {
    margin: 2px;
}

.loginForm input[type="password"], .loginForm input[type="email"] {
    width: 190px;
}